.foto 
{
    text-align: center;
    box-shadow: 0px 0px 10px #7453b4;
    border-radius: 10px;
    margin-bottom: 15px;
}

.foto img:hover 
{
    transform: scale(1.04);
    z-index: 100;
    cursor: zoom-in;
}

.foto p
{
    font-family: monospace;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid rgb(192, 19, 245);
}

.foto img
{
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
    z-index: 50;
    padding-left: 8px;
}

@media only screen and (max-width: 600px) {
    .foto img {
        width: 90%;
        height: auto;
    }
}