/* Hiding scrollbars */
.container1 {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container1::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* Text in index.html */
.text1 {
    text-align: center;
    font-family: monospace;
    font-size: 35px;
    padding-top: 15px;
    text-decoration: none;
}

.text2 {
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    padding-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.text3 {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  padding-top: 100px;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.text4 {
  text-align: left;
  font-size: 20px;
  font-family: monospace;
  padding-top: 40px;
  padding-left: 5px;
  text-decoration: none;
}

.time_clock {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-family: monospace;
  padding-top: 245px;
  text-decoration: none;
}