body {
  background-color: #241d33;
}

/* Scrollbars verwijderen */
.container1 {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.container1::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* Tekst in index.html */
.text1 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: monospace;
  padding-top: 100px;
  text-decoration: none;    
}

.text2 {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 35px;
  text-decoration: none;
  padding-top: 25px;
  border-top: 2px solid rgb(192, 19, 245);
  border-bottom: 2px solid rgb(192, 19, 245);
}

.text3 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: monospace;
  padding-top: 50px;
  text-decoration: none;
  
}

.text4 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: monospace;
  padding-top: 40px;
  padding-left: 5px;
  text-decoration: none;
}

