body 
{
  background-color: #241d33;
}

/* Scrollbars verwijderen */
.container1 
{
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container1::-webkit-scrollbar 
{
  width: 0;
  height: 0;
}
::-webkit-scrollbar 
{
  display: none;
}

/* Tekst in index.html */
.text1 
{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 35px;
    padding-top: 15px;
    text-decoration: none;
}

.text2 
{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
    padding-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.text3 
{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: monospace;
  padding-top: 100px;
  text-decoration: none;
  border-bottom: 2px solid rgb(172, 167, 167);
}

.text4 
{
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: monospace;
  padding-top: 40px;
  padding-left: 5px;
  text-decoration: none;
}

.time_clock {
  position: relative;
  font-size: 20px;
  color: white;
  font-family: monospace;
  text-decoration: underline;
  right: 0;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}