.topnav {
    background-color: #3d2c5f;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #7453b4;
}
  
.topnav a {
    float: right;
    color: rgb(255, 255, 255);
    background-color: #7900db;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-color: white;
    font-weight: 50;
    font-family: monospace;
    margin-left: 5px;
    border-radius: 5px;
}
  
.topnav a:hover {
    background-color: #7d21c9;
    color: rgb(255, 255, 255);
}
  
.topnav a.current {
    background-color: #6800bd;
    color: rgb(255, 255, 255);
}

.topnav a.current:hover {
  background-color: #7d21c9;
}

.nav{
  font-size: 100;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

