/* Add a black background color to the top navigation */
.topnav {
    background-color: #3a3a3a;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 151, 151);
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 17px;
    border-color: white;
    font-weight: 50;
    font-family: monospace;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(0, 211, 95);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.current {
    background-color: #920000;
    color: rgb(255, 255, 255);
  }
*{
  margin: 0;
  padding: 0;
}
.nav{
  font-size: 100;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}